@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/Home/Index">Home</a>
        </li>
        @*<li>
            <a href="#">UI Features</a>
        </li>*@
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="jumbotron">
                <h1>Welcome</h1>
                <p class="lead"> to Student Information Management System</p>

            </div>

        </div>
    </div>
    <!--/span-->
</div><!--/row-->

 