
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/Home/Index">Home</a>
        </li>
        @*<li>
                <a href="#">UI Features</a>
            </li>*@
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="jumbotron" style="align-content:center;">
                <img class="img-responsive"src="/img/coming-soon-Website.jpg" />
                

            </div>

        </div>
    </div>
    <!--/span-->
</div><!--/row-->


